<%- include('../partials/header') %>


  <div class="container my-5">
    <div class="row g-3">


      <div class="col-md-4 my-3">
        <div class="card">
          <img src="/images/order/CYOP.png" class="card-img-top">
          <div class="card-body card-order">
            <h5 class="card-title ">Build Your Own Pizza</h5>
            <p>You be you! Select your favorite toppings, crust and sauce to build the perfect pizza from scratch.</p>
            <div>
              <form method="GET" action="/order/builder">
                <button type="submit" class="btn btn-primary">Customize</button>
              </form>
            </div>
          </div>

        </div>
      </div>

      <% prebuiltPizzas.forEach(pizza=>{ %>
        <div class="col-md-4 my-3">
          <div class="card">
            <form method="POST" action="order/cart/<%- pizza._id %>">
              <img src="/images/order/<%- pizza.altId %>.jpg" class="card-img-top">
              <div class="card-body card-order">
                <h5 class="card-title "><%- pizza.name %> $<%- pizza.price %></h5>
                <div>
                  <div class="d-flex justify-content-between">

                    <select class="form-select w-75" name="size" id="size">
                      <option value="Small">Small</option>
                      <option value="Medium">Medium</option>
                      <option value="Large">Large</option>
                    </select>

                    <select class="form-select w-auto right" name="quantity" id="quantity">
                      <% for( let i=1; i < 10; i++ ) { %>
                        <option value="quantity"><%- i %></option>
                        <% } %>

                    </select>
                  </div>

                  <select class="form-select form-select w-100 d-inline-block my-2" name="crust" id="crust">
                    <option value="Thin">Thin</option>
                    <option value="Regular">Regular</option>
                    <option value="Deepdish">Deep Dish</option>
                  </select>
                </div>
                <div>
                  <button type="submit" class="btn btn-primary btn-sm">Add to Cart</button>
                </div>
              </div>

            </form>
          </div>
        </div>
        <%}) %>
    </div>


  </div>

  <%- include('../partials/footer') %>