<%- include('../partials/header') %>

  <h2>Grazie mille <%- order.customer.firstName %>!</h2>

  <h4>Your order N. <%- order.id %> </h4>

  <h4>is <%- order.status %></h4>

  <h4>Soon will be delivered at <%- order.customer.address %>, <%- order.customer.city %>.</h4>


  <%- include('../partials/footer') %>