<%- include('../partials/header') %>
    <link rel="stylesheet" href="/stylesheets/builder.css">

    <%if (order){%>
        <div>

            <div class="container my-5">
                <div class="row">
                    <div class="col-md-3 right">
                        <div class="row">
                            <div class="col-md-12">
                                <% order.items.pizzas.forEach(pizza=>{ %>
                                    <div class="row">
                                        <div class="card cart-summary">
                                            <h2>Cart Summary</h2>
                                            <% for( let i=0; i < order.items.pizzas.length; i++ ) { %>

                                                <div class="card-body">
                                                    <li class="list-group-item d-flex justify-content-between lh-sm">
                                                        <div>
                                                            <span class="text-muted"><%- order.items.pizzas[i].name %>
                                                            </span>
                                                            <span class="text-muted">
                                                                (x<%-order.items.pizzas[i].quantity%>)</span>
                                                        </div>
                                                        <h6 class="my-0">$<%- order.items.pizzas[i].price *
                                                                order.items.pizzas[i].quantity %>
                                                        </h6>
                                                    </li>

                                                </div>
                                                <% } %>

                                        </div>
                                    </div>
                                    <%})%>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-9">
                        <div class="row g-5">
                            <div class="col-md-12">
                                <div class="row row-cols-1 row-cols-md-3 g-4">

                                    <% order.items.pizzas.forEach(pizza=>{ %>
                                        <div class="col">
                                            <div class="card" width="width:400px">
                                                <div id="builder">
                                                    <img style="z-index: 1;" class="crust-area"
                                                        src="../images/builder/crust/<%- pizza.crust.toLowerCase() %>.png">
                                                    <% for (let i=0; i < pizza.meats.length; i++) { %>
                                                        <img style="z-index: 1;" class="topping-area"
                                                            src="../images/builder/idle-toppings/<%-pizza.meats[i].toLowerCase() %>.png">
                                                        <% } %>
                                                </div>
                                                <div class="card-body">
                                                    <div class="col-lg-6">
                                                        <div class="row h-75 d-inline-block">
                                                            <div class="col-12">
                                                                <div id="builder"></div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <h5 class="card-title"><%- pizza.name %></h5>
                                                    <p class="card-text">This is a longer card with supporting text
                                                        below as
                                                        a
                                                        natural lead-in to additional content. This content is a
                                                        little bit
                                                        longer.</p>
                                                </div>
                                            </div>
                                        </div>
                                        <%})%>

                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <%} %>
            <%- include('../partials/footer') %>