<%- include('../partials/header') %>

<%if (order){%>
    <p>current total: <%- order.total %></p>
    <hr/>
    <% order.items.pizzas.forEach(pizza=>{ %>
        
        <% for (const property in pizza) { %>
            
            <p> <%- property %>: <%- pizza[property] %> </p>
            
        <%} %>
        <hr/>
    <%})%>
 <%} %>   





<%- include('../partials/footer') %>