<%- include('../partials/header') %>

<%if (order){%>
    <p>current total: <%- order.total %></p>
    <% order.items.pizzas.forEach(p=>{ %>
      <%- console.log('trying to look at order') %>

        <p>pizza: <%- p.size %></p>
        <%}) %>
          <%}%>





<%- include('../partials/footer') %>