<%- include('../partials/header') %>

<%if (order){%>
    <h4>current total: <%- order.total %>$</h4>
    <hr/>

    <% order.items.pizzas.forEach(pizza=>{ %>
        <h6> ITEM: <%- pizza.name %> </h6>
        <h6> QUANTITY: <%- pizza.quantity %></h6>
        <h6> PRICE: <%- pizza.price*pizza.quantity %>$</h6>

        <form method="POST" action="">
            <input type="hidden" name="id" value=<%- pizza.id %> >
            <input type="submit" value="Edit Items">
        </form>

        <form method="POST" action="/order/cart?_method=DELETE">
            <input type="hidden" name="id" value=<%- pizza.id %> >
            <input type="submit" value="Remove Items">
        </form>


        <hr/>
    <%})%>
 <%} %>   

<%- include('../partials/footer') %>